<div class="container bg-secondary text-light text-center mt-2 rounded">
<h3 class="fs-4 bold">-- About us --</h3>
<hr>
<p class="bolder">New adventures every day!</p>
<br>
<p>Our blog reporters report from all over the world. You can expect amazing movies and images from each continent.</p>
<p>Do not miss our newest blog entries, VIP members see all available content for a simply 5€ donation each month.</p>
<p>Please note that newest content is available for ordinary members after one month</p>
<p>Enjoy our blog and the day!</p>




</div>